@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Regular.ttf);
}

/* ------------------- HEADER STARTS ----------------- */
*{
    font-family: Roboto;
}
.hero{
    background-color: #1F2937;
}

.hero-navbar {
    display: flex;
    margin-top: 0.5%;
    margin-right: 14%;
    margin-left: 14%;
}

.header-logo-text {
    flex: 2.5;
    color: #F9FAF8;
    font-size: 24px;
    font-family: 'Roboto';
}

.header-link-one {
    flex: 0.5;
    color: #E5E7EB;
    font-size: 18px;
}

.header-link-two {
    flex: 0.5; 
    color: #E5E7EB;
    font-size: 18px;   
}

.header-link-three {
    flex: 0.5;  
    color: #E5E7EB;
    font-size: 18px;  
}

.hero-main {
    display: flex;
    margin-top: 4%;
    margin-right: 14%;
    margin-left: 14%;
}

.hero-main-left {
    flex: 1;
    margin-right: 6%;
}

.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    margin-top: 0%;
    margin-bottom: 0%;
}

.hero-secondary-text {
    color: #E5E7EB;
    margin-top: 1%;
    margin-bottom: 3%;
    font-size: 18px
}

.hero-button {
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 12%;
    padding: 8px 25px;
    border: none;
}

.placeholder-border {
    flex: 1;
    background-color: grey;
    margin-bottom: 10%;
    margin-left: 8%;
    text-align: center;
    height: 220px;
}

.hero-image-placeholder {
    margin-top: 20%;
    color: #F9FAF8;
}
/* ------------------- HEADER ENDS ----------------- */

/* ------------------- BODY STARTS ----------------- */
/*first section*/
.info-header-text {
    font-size: 36px;
    color: #1F2937;
    text-align: center;
    margin-top: 3%;
}

.info-container {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.rounded-border1, .rounded-border2, .rounded-border3, .rounded-border4 {
    border-radius: 25px;
    border: 4px solid #3882f6;
    padding: 20px; 
    width: 170px;
    height: 170px;
    margin: 1%;
}

.table-text{
    caption-side: bottom;
    color: #8b8888;
    margin-top: 2%;
    font-size: 19px;
}
/*second section*/
.quote-section {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    margin-top: 8%;
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: 1%;
}

.owner-name {
    font-size: 26px;
    color: #1F2937;
    margin-top: 1%;
    margin-right: 26%;
    margin-left: 25%;
    margin-bottom: 6%;
    text-align: right;
}
/*third section*/
.action-section {
    background-color: #3882f6;
    border-radius: 11px;
    display: flex;
    justify-content: center;
    margin-right: 19%;
    margin-left: 19%;
    margin-top: 7%;
    margin-bottom: 7%;
}

.action-text {
    color: #F9FAF8;
    margin: 5%;
    font-size: 19px;
}

.action-button {
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 12%;
    padding: 8px 25px;
    border-color: #F9FAF8;
    border: 2.5px solid;
    font-size: 18px;
    margin: 5%;
}

/* ------------------- BODY ENDS ----------------- */
/* ------------------- FOOTER STARTS ----------------- */

.footer {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: center;    
}

.footer-text {
    margin-top: 2%;
    margin-bottom: 2%;
}